# SDG Indicator 3.3.2 - Tuberculosis incidence per 1,000 population

**Goal 3**: Ensure healthy lives and promote well-being for all at all ages


**Target 3.3**: By 2030, end the epidemics of AIDS, tuberculosis, malaria and neglected tropical diseases and
combat hepatitis, water-borne diseases and other communicable diseases

The tuberculosis incidence per 100,000 population as defined as the estimated number of new and
relapse TB cases (all forms of TB, including cases in people living with HIV) arising in a given year,
expressed as a rate per 100 000 population.

**Source**: https://unstats.un.org/sdgs/metadata/files/Metadata-03-03-02.pdf

In [2]:
# %load ../../snippets/imports
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

import matplotlib.pyplot as plt
%matplotlib inline

import os
import urllib

## Data

* http://www.who.int/tb/country/data/download/en/

In [3]:
# %load ../../snippets/dataroot
data_root = "../../data/03.3.2"

if not os.path.exists(data_root):
    os.makedirs(data_root)

### Data Dictionary

* https://extranet.who.int/tme/generateCSV.asp?ds=dictionary

In [8]:
# download to a local directory - to avoid re-requesting across notebook sessions
dd_source_path = "https://extranet.who.int/tme/generateCSV.asp?ds=dictionary"
dd_dest_path = "{0}/who_tb_dd.csv".format(data_root)

# NOTE: uncomment to download csv from source
#urllib.request.urlretrieve (dd_source_path, dd_dest_path)

In [5]:
dd = pd.read_csv(dd_dest_path)
dd.head()

,variable_name,dataset,code_list,definition
0,bmu,Community engagement,NaN,Number of TB Basic Management Units in the cou...
1,bmu_community_impl,Community engagement,NaN,Number of TB Basic Management Units which impl...
2,bmu_ref_data,Community engagement,NaN,Number of Basic Management Units with data on ...
3,bmu_rxsupport_data,Community engagement,NaN,Number of Basic Management Units with data on ...
4,bmu_rxsupport_data_coh,Community engagement,NaN,Total number of patients who started TB treatm...

### WHO TB Burden Estimates

* https://extranet.who.int/tme/generateCSV.asp?ds=estimates

In [9]:
who_tme_source_path = "https://extranet.who.int/tme/generateCSV.asp?ds=estimates"
who_tme_dest_path = "{0}/who_tme_est.csv".format(data_root)

# NOTE: uncomment to download csv from source
#urllib.request.urlretrieve(who_tme_source_path, who_tme_dest_path)

In [7]:
who_tme_est = pd.read_csv(who_tme_dest_path)
who_tme_est.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_100k_lo,e_inc_100k_hi,...,e_mort_num,e_mort_num_lo,e_mort_num_hi,cfr,cfr_lo,cfr_hi,c_newinc_100k,c_cdr,c_cdr_lo,c_cdr_hi
0,Afghanistan,AF,AFG,4,EMR,2000,20093756,190.0,123.0,271.0,...,14000,7900,21000,NaN,NaN,NaN,35.0,19.0,13.0,29.0
1,Afghanistan,AF,AFG,4,EMR,2001,20966463,189.0,123.0,271.0,...,13000,7600,20000,NaN,NaN,NaN,48.0,26.0,18.0,39.0
2,Afghanistan,AF,AFG,4,EMR,2002,21979923,189.0,122.0,270.0,...,12000,7200,19000,NaN,NaN,NaN,63.0,33.0,23.0,51.0
3,Afghanistan,AF,AFG,4,EMR,2003,23064851,189.0,122.0,270.0,...,13000,7700,20000,NaN,NaN,NaN,60.0,32.0,22.0,49.0
4,Afghanistan,AF,AFG,4,EMR,2004,24118979,189.0,122.0,270.0,...,12000,7200,19000,NaN,NaN,NaN,76.0,40.0,28.0,62.0

In [10]:
who_tme_est.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3651 entries, 0 to 3650
Data columns (total 71 columns):
country                     3651 non-null object
iso2                        3634 non-null object
iso3                        3651 non-null object
iso_numeric                 3651 non-null int64
g_whoregion                 3651 non-null object
year                        3651 non-null int64
e_pop_num                   3651 non-null int64
e_inc_100k                  3651 non-null float64
e_inc_100k_lo               3651 non-null float64
e_inc_100k_hi               3651 non-null float64
e_inc_num                   3651 non-null int64
e_inc_num_lo                3651 non-null int64
e_inc_num_hi                3651 non-null int64
e_inc_num_f014              217 non-null float64
e_inc_num_f014_lo           209 non-null float64
e_inc_num_f014_hi           209 non-null float64
e_inc_num_f15plus           217 non-null float64
e_inc_num_f15plus_lo        209 non-null float64
e_inc_num_f15plus_hi        209 non-null float64
e_inc_num_f                 217 non-null float64
e_inc_num_f_lo              209 non-null float64
e_inc_num_f_hi              209 non-null float64
e_inc_num_m014              217 non-null float64
e_inc_num_m014_lo           209 non-null float64
e_inc_num_m014_hi           209 non-null float64
e_inc_num_m15plus           217 non-null float64
e_inc_num_m15plus_lo        209 non-null float64
e_inc_num_m15plus_hi        209 non-null float64
e_inc_num_m                 217 non-null float64
e_inc_num_m_lo              209 non-null float64
e_inc_num_m_hi              209 non-null float64
e_inc_num_014               217 non-null float64
e_inc_num_014_lo            209 non-null float64
e_inc_num_014_hi            209 non-null float64
e_inc_num_15plus            217 non-null float64
e_inc_num_15plus_lo         209 non-null float64
e_inc_num_15plus_hi         209 non-null float64
e_tbhiv_prct                3316 non-null float64
e_tbhiv_prct_lo             3316 non-null float64
e_tbhiv_prct_hi             3316 non-null float64
e_inc_tbhiv_100k            3316 non-null float64
e_inc_tbhiv_100k_lo         3313 non-null float64
e_inc_tbhiv_100k_hi         3313 non-null float64
e_inc_tbhiv_num             3316 non-null float64
e_inc_tbhiv_num_lo          3313 non-null float64
e_inc_tbhiv_num_hi          3313 non-null float64
e_mort_exc_tbhiv_100k       3651 non-null float64
e_mort_exc_tbhiv_100k_lo    3650 non-null float64
e_mort_exc_tbhiv_100k_hi    3650 non-null float64
e_mort_exc_tbhiv_num        3651 non-null int64
e_mort_exc_tbhiv_num_lo     3650 non-null float64
e_mort_exc_tbhiv_num_hi     3650 non-null float64
e_mort_tbhiv_100k           3651 non-null float64
e_mort_tbhiv_100k_lo        3635 non-null float64
e_mort_tbhiv_100k_hi        3635 non-null float64
e_mort_tbhiv_num            3651 non-null int64
e_mort_tbhiv_num_lo         3635 non-null float64
e_mort_tbhiv_num_hi         3635 non-null float64
e_mort_100k                 3651 non-null float64
e_mort_100k_lo              3651 non-null float64
e_mort_100k_hi              3651 non-null float64
e_mort_num                  3651 non-null int64
e_mort_num_lo               3651 non-null int64
e_mort_num_hi               3651 non-null int64
cfr                         205 non-null float64
cfr_lo                      205 non-null float64
cfr_hi                      205 non-null float64
c_newinc_100k               3484 non-null float64
c_cdr                       3400 non-null float64
c_cdr_lo                    3400 non-null float64
c_cdr_hi                    3400 non-null float64
dtypes: float64(56), int64(11), object(4)
memory usage: 2.0+ MB